<h3>Create Task</h3>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="Name your task!">
  <input type="text" name="desc" placeholder="Give is a description! Yeah!">
  <input type="submit" value="Create task">
</form>
